root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{c,h,cpp,hpp,cc}]
indent_style = tab
tab_width = 4

[*.{html,xml,json,css,lua,vim}]
indent_style = space
indent_size = 2

[*.{py,sh,rs,el,lisp,org,toml,sql}]
indent_style = space
indent_size = 4
