# GTK
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks

# ZSH
.config/zsh/.zcompdump

# Ranger
.config/ranger/*

# Neovim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/vim-plug/
!.config/nvim/lua/
!.config/nvim/plugins/

# Emacs
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/init.org

# Tint2
.config/tint2/*
!.config/tint2/tint2rc
