[submodule ".config/shell/external-plugins/zsh-autosuggestions"]
	path = .config/shell/external-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/shell/external-plugins/zsh-history-substring-search"]
	path = .config/shell/external-plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/shell/external-plugins/fzf-tab"]
	path = .config/shell/external-plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".config/shell/external-plugins/fast-syntax-highlighting"]
	path = .config/shell/external-plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
