* {
    animation: none !important;
    transition: none !important;
    border-radius: 0px !important;
}

#tabbrowser-tabpanels > hbox {
    margin: 0px !important;
}

#zen-appcontent-navbar-wrapper {
    display: none !important;
}

.zen-current-workspace-indicator  {
    display: none !important;
}
