* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: #1e222a;
  color: #c4c7c5;
  border-top: 1px solid #2f343f;
}

#custom-launcher {
  background-color: #98c379;
  border-radius: 8px;
  color: #1e222a;
  margin: 2px 0 2px 6px;
  padding: 0 10px;
}

#custom-windows {
  background-color: #282c34;
  border-radius: 8px;
  color: #c4c7c5;
  margin: 2px 0 2px 10px;
  padding: 0 10px;
}

#custom-windows:hover {
  background-color: #333b41;
}

#taskbar {
  border-radius: 8px;
  margin: 2px 0 2px 10px;
  padding: 0 5px;
}

#taskbar button:hover {
  background-color: #333b41;
  border-radius: 8px;
}

#tray {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #e06c75;
}

#disk {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#temperature {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#pulseaudio.mic {
  background-color: #282c34;
  padding: 0 10px;
  margin: 2px 4px 2px 0;
  border-radius: 8px;
}

#pulseaudio {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#pulseaudio:hover {
  background-color: #333b41;
}

#backlight {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#upower {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#clock {
  background-color: #282c34;
  border-radius: 8px;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

#custom-power {
  background-color: #e06c75;
  border-radius: 8px;
  color: #1e222a;
  margin: 2px 4px 2px 0;
  padding: 0 10px;
}

tooltip {
  background-color: #1e222a;
  border-radius: 8px;
  padding: 5px;
}

tooltip label {
  color: #c4c7c5;
}
