configuration {
	modi: "window,run,ssh,drun";
	display-drun: " ";
	display-window: " ";
	display-run: " ";
	drun-display-format: "{icon} {name}";
	show-icons: true;
}

* {
	/*Colors*/
	dark-gray: #202020;
	gray:      #bfbfbf;
	white:     #f2f2f2;

	font: "hack 10";
	color: @white;
	background-color: @dark-gray;
}

window {
	width: 30%;
}

inputbar,
element {
	padding: 8px;
}

element selected {
	color: @dark-gray;
	background-color: @gray;
}

element-icon {
	size: 14px;
}
