# vim: ft=config

[system]
# File path for client-to-daemon communication
daemonPath = /tmp/skippy-xd-fifo

# File path for daemon-to-client communication
clientPath = /tmp/skippy-xd-fofi

# This queries the list of windows
# Depending on your window manager, you may want to choose between
# XQueryTree, _NET_CLIENT_LIST, _WIN_CLIENT_LIST
# If you see missing windows, extra windows, or even crashes,
# Try a different option
clientList = _NET_CLIENT_LIST

# When compositors such as picom are not used
# Turn on pseudo-transparency
pseudoTrans = true

[layout]

# xd: row-to-row layout
# cosmos: position preserving layout
switchLayout = xd
exposeLayout = cosmos

# Wait time before displaying switch previews
# Set = 0 to veto live previews completely
switchWaitDuration = 100

# During switchWaitDuration and animation,
# Whether switch can cycle through windows
switchCycleDuringWait = false

# Enable to cycle through all virtual desktops
switchCycleDesktops = false
exposeCycleDesktops = false

# Relative minimal distance between windows
distance = 25

# Whether to show the window bigger than its original size
allowUpscale = false

[display]

# Set = 0 to switch off animations
animationDuration = 0

# Animation refresh rate in fps
animationRefresh = 60

# Background when skippy-xd is activated
# To display background wallpaper:
#   background = /home/richard/screenshots/256.png
# For tinted background:
#   background = #00000055
# For transparent background:
#   background = None
background = None

# During paging, do not apply background to individual desktops
preservePages = true

# Reposition the mouse cursor per focus updates
movePointer = false

# Whether to display window frames
includeFrame = true

# Show window previews with rounded corners
cornerRadius = 0

# Icons on live previews
icon = true
iconPlace = right right
iconSize = 48

[filler]
tint = #333333
iconPlace = mid mid
iconSize = 48

# Windows that are not filler, highlight, shadow, multiselect
[normal]
tint = black
tintOpacity = 0
opacity = 255

[highlight]
opacity = 255
tint = #101020
tintOpacity = 128


# Highlighted in multi-select mode
[multiselect]
tint = #3376BB
tintOpacity = 50
opacity = 255

# Windows of type _NET_WM_WINDOW_TYPE_DOCK
[panel]
show = true
backgroundTinting = true
reserveSpace = true

# Windows of type _NET_WM_WINDOW_TYPE_DESKTOP
[desktop]
show = true

[label]
background = #1e2128
backgroundHighlight = #666666
border = #C4C7C5
font = JetBrainsMono Nerd Font-11:weight=Normal
offsetX = 0
offsetY = 5
opacity = 255
option = windowClass
show = false
text = #C4C7C5
textShadow = black
width = 0.8

[bindings]

# key* = is a list of valid XWindows KeySym identifiers, case
# sensitive and <space> seperated list. Run the program 'xev' to find them.

keysNext = n f
keysPrev = p b

keysSelect = Return space
keysCancel = Escape BackSpace x q

keysUp = Up w k
keysDown = Down s j
keysLeft = Left a h
keysRight = Right d l

keysIconify = 
keysShade = 
keysClose = 

keysPivotSwitch = Alt_L
keysPivotExpose = 
keysPivotPaging = 

# mouse button bindings, options include
# "no": do nothing
# "focus": select window
# "iconify": minimize window
# "shade-ewmh": toggle window shade
# "close-icccm": close window with ICCCM method
# "close-ewmh": lcose window with EWMH method
# "destroy": forcefully destroy window
# "keysPrev": focus on previous window
# "keysNext": focus on next window

miwMouse1 = focus
miwMouse2 = close-ewmh
miwMouse3 = no
miwMouse4 = no
miwMouse5 = no
