[system]
# File path of skippy-xd pipe daemon communication
pipePath = /tmp/skippy-xd-fifo

# Frequency to update pixmaps
updateFreq = 60.0

# Depending on your window manager, you may want to choose between
# XQueryTree, _NET_CLIENT_LIST, _WIN_CLIENT_LIST
clientList = XQueryTree

# when compositors such as picom are not used
# turn on pseudo-transparency
pseudoTrans = true

[layout]

# Wait time before displaying switch previews
switchWaitDuration = 100

# Set = 0 to switch off animations
# For switch, there is never animation
animationDuration = 25

# Relative minimal distance between windows
distance = 25

# exposeLayout=xd uses the same layout as switcher, maximizing screen estate
# exposeLayout=boxy tends to preserve window positions, thus guiding the eye more
exposeLayout = xd

# Whether to show the window bigger than its original size
allowUpscale = false

[filter]

# in multi-monitor setting, whether to filter windows by monitor
showOnlyCurrentMonitor = false

# Choose whether to show shadow windows:
# windows that are minimized, shaded, or on other virtual desktops
showShadow = true

# For switch and expose,
# Whether to limit window select on current virtual desktop
# Or allow window selection on all virtual desktops
# Paging always show all desktops
switchShowAllDesktops = false
exposeShowAllDesktops = false

[display]

# Background picture when skippy-xd is activated
# Examples to paint wallpaper, or to tint existing background:
#   background = /home/richard/screenshots/256.png
#   background = #00000066
background =

# Move the mouse cursor when skippy is activated
movePointer = false

# Whether to display window frames
includeFrame = true

# Show window previews with rounded corners,
# with corner radius in pixels
cornerRadius = 0

# Icon parameters
showIconsOnThumbnails = true
preferredIconSize = 48

# Display when live preview is not available
fillSpec = #FFFFFF
iconFillSpec = mid mid #1e2128

[normal]
opacity = 255
tint = black
tintOpacity = 0

[highlight]
opacity = 255
tint = #101020
tintOpacity = 128

[shadow]
opacity = 255
tint = #1e2128
tintOpacity = 0

[tooltip]
background = #1e2128
border = #C4C7C5
font = JetBrainsMono Nerd Font-11:weight=Normal
offsetX = 0
offsetY = 5
opacity = 255
show = true
showDesktop = false
showMonitor = false
text = #C4C7C5
textShadow = black
width = 0.8

[bindings]

# key* = is a list of valid XWindows KeySym identifiers, case
# sensitive and <space> seperated list. Run the program 'xev' to find them.

keysNext = n f
keysPrev = p b

keysSelect = Return space
keysCancel = Escape BackSpace x q

keysUp = Up w k
keysDown = Down s j
keysLeft = Left a h
keysRight = Right d l

keysIconify = 
keysShade = 
keysClose = 

keysPivotSwitch = Alt_L
keysPivotExpose = 
keysPivotPaging = 

# mouse button bindings, options include
# "no": do nothing
# "focus": select window
# "iconify": minimize window
# "shade-ewmh": toggle window shade
# "close-icccm": close window with ICCCM method
# "close-ewmh": lcose window with EWMH method
# "destroy": forcefully destroy window
# "keysPrev": focus on previous window
# "keysNext": focus on next window

miwMouse1 = focus
miwMouse2 = close-ewmh
miwMouse3 = no
miwMouse4 = no
miwMouse5 = no
