[system]
# When focus is stolen off skippy-xd
# E.g. a window is newly created during skippy-xd activation
# Focus back on skippy-xd
enforceFocus = true

# File path for client-to-daemon communication
daemonPath = /tmp/skippy-xd-fifo

# File path for daemon-to-client communication
clientPath = /tmp/skippy-xd-fofi

# Frequency to update pixmaps
updateFreq = 60.0

# This queries the list of windows
# Depending on your window manager, you may want to choose between
# XQueryTree, _NET_CLIENT_LIST, _WIN_CLIENT_LIST
# If you see missing windows, or windows that you did not expect,
# Or even crashes,
# Try a different option
clientList = _NET_CLIENT_LIST

# when compositors such as picom are not used
# turn on pseudo-transparency
pseudoTrans = true

[layout]

# Wait time before displaying switch previews
switchWaitDuration = 100

# Set = 0 to switch off animations
# For switch, there is never animation
animationDuration = 0

# Refresh rate during animation
animationRefresh = 60

# Relative minimal distance between windows
distance = 50

# Relative minimal distance between windows
distance = 25

# xd layout is the switch layout
# boxy layout uses box heuristics (legacy)
# cosmos layout uses physics based modeling
exposeLayout = cosmos

# Whether to show the window bigger than its original size
allowUpscale = false

[filter]

# in multi-monitor setting, whether to filter windows by monitor
showOnlyCurrentMonitor = false

# Choose whether to show shadow windows:
# windows that are minimized, shaded, or on other virtual desktops
showShadow = true

# For switch and expose,
# Whether to limit window select on current virtual desktop
# Or allow window selection on all virtual desktops
# Paging always show all desktops
switchShowAllDesktops = false
exposeShowAllDesktops = false

[display]

# Background picture when skippy-xd is activated
# Examples to paint wallpaper, or to tint existing background:
#   background = /home/richard/screenshots/256.png
#   background = #00000066
background =

# Move the mouse cursor when skippy is activated
movePointer = false

# Whether to display window frames
includeFrame = true

# Show window previews with rounded corners,
# with corner radius in pixels
cornerRadius = 0

# Whether to show icons on live preview thumbnails
icon = true
iconPlace = right right
iconSize = 48

# Display when live preview is not available
fillSpec = #FFFFFF
iconFillSpec = mid mid #1e2128

[normal]
tint = black
tintOpacity = 0
opacity = 255

[highlight]
opacity = 255
tint = #101020
tintOpacity = 128

[shadow]
opacity = 255
tint = #1e2128
tintOpacity = 0

[tooltip]
background = #1e2128
border = #C4C7C5
font = JetBrainsMono Nerd Font-11:weight=Normal
offsetX = 0
offsetY = 5
opacity = 255
show = false
showDesktop = false
showMonitor = false
text = #C4C7C5
textShadow = black
width = 0.8

[bindings]

# key* = is a list of valid XWindows KeySym identifiers, case
# sensitive and <space> seperated list. Run the program 'xev' to find them.

keysNext = n f
keysPrev = p b

keysSelect = Return space
keysCancel = Escape BackSpace x q

keysUp = Up w k
keysDown = Down s j
keysLeft = Left a h
keysRight = Right d l

keysIconify = 
keysShade = 
keysClose = 

keysPivotSwitch = Alt_L
keysPivotExpose = 
keysPivotPaging = 

# mouse button bindings, options include
# "no": do nothing
# "focus": select window
# "iconify": minimize window
# "shade-ewmh": toggle window shade
# "close-icccm": close window with ICCCM method
# "close-ewmh": lcose window with EWMH method
# "destroy": forcefully destroy window
# "keysPrev": focus on previous window
# "keysNext": focus on next window

miwMouse1 = focus
miwMouse2 = close-ewmh
miwMouse3 = no
miwMouse4 = no
miwMouse5 = no
